
.vpp-btn-sp{
    border-style:none;
    border-radius: 50%;
}

#content{
    background-color: white;
}

img.bg-img:hover .sub-sanpham-chitiet{
    display: flex !important;
}


.sub-sanpham-chitiet{
    display: none !important;
    position: relative;
    z-index: 2;
    transform: translateY(-100%);
    animation: fade ease 0.5s forwards;
    border-radius: 10px;
    background-image: linear-gradient(rgba(253, 185, 188,0),rgb(253, 185, 188));
}
